.card {
    padding: 16px;
    margin: 16px;
    //width: 230px;
    width: 207px;
    border: 1px solid gray;
    border-radius: 10px;

    /* Larghezza fissa per ogni card */
}

.card img {
    width: 100%;
    max-height: 230px;
    border-radius: 10px;
    background-color: white;
}

.card-image {
    height: auto;
}

.card-content {
    text-align: center;
}

.card-content h3 {
    margin: 0;
}

.category-page {
    padding: 20px;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    /* Impedisce il wrapping su più righe */
    overflow-x: auto;
    /* Abilita lo scrolling orizzontale se le card superano la larghezza del contenitore */
}

/* Aggiungi margini solo all'inizio e alla fine */
/* .card-grid .card:first-child {
    margin-left: 0;
}

.card-grid .card:last-child {
    margin-right: 0;
} */

@media (max-width: 768px) {
    .card {
        padding: 16px;
        margin: 16px;
        width: 230px;
        border: 1px solid gray;
        border-radius: 10px;
    }
}