/* Centra la modale e aggiungi uno sfondo trasparente */
.modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modale.aperta {
  opacity: 1;
  visibility: visible;
}

/* Stile della finestra della modale */
.contenuto-modale {
  background-color: #fff; /* Sfondo bianco */
  padding: 20px 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
 // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-panel h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.filter-section {
  margin-bottom: 1rem;
  width: 100%;
}

.filter-section label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.filter-section select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  color: #333;
  transition: border-color 0.3s ease;
}

.filter-section select:focus {
  border-color: #007bff; /* Colore di focus */
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Stile per il pulsante "Applica Filtri" */
button:first-of-type {
  background-color: #ff0000;
  color: #fff;
}

button:first-of-type:hover {
  background-color: #c24141;
}

/* Stile per il pulsante "Chiudi" */
button:last-of-type {
  background-color: #ccc;
  color: #333;
}

button:last-of-type:hover {
  background-color: #999;
}
