/* 
  .home {
    text-align: center;
    color: #fff;
    height: 100vh;
  }
  
  .parallax-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
  } */
/*   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
  }

  header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
  }
  header nav {
    display: flex;
    align-items: center;
  }
  
  header nav li {
    list-style-type: none;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  img {
    object-fit: cover;
  }
  
  .bg-container {
    position: relative;
  }
  
  .absolute-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .absolute-text h1 {
    font-size: 5rem;
    background-color: transparent;
    
  }
  
  .bg-container img {
    width: 100%;
    height: 90vh;
  }
  
  .card-container {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .card {
    flex-basis: 50%;
    margin: 10px;
    line-height: 1.6;
  }
  
  .card img {
    width: 100%;
  }
  
  .subscribe {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
    background-color: cornflowerblue;
    padding: 20px;
  }
  
  .subscribe button {
    padding: 10px;
    outline: none;
    cursor: pointer;
  }
  
  .subscribe input {
    padding: 10px;
    outline: none;
    border: none;
  }

  .modal-test-fixed {
    width: 600px;
    background-color: red;
    height: 600px;
    position: absolute;
    border-radius: 15px;
  }

  .modal-test-1 {
    width: 600px;
    background-color: green;
    height: 600px;
    margin-top: 10px;
    border-radius: 15px;
    position: absolute;
  }

  .modal-test-2{
    width: 600px;
    background-color: yellow;
    height: 600px;
    margin-top: -590px;
    border-radius: 15px;
  }
 */
  