/* Aggiungi questo stile al tuo file CSS */
.login-container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.login-container h2 {
    margin-bottom: 50px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 91%;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 12px;
    border-radius: 10px;
}

.login-container button {
    padding: 10px 20px;
    border-radius: 10px;
}

/* Aggiungi questo stile al tuo file CSS */
.error-message {
    color: red;
    margin-bottom: 10px;
}