.product-list {
  width: 100%; /* Occupare tutta la larghezza disponibile */
  padding: 10px; /* Aggiungi padding per il contenitore */
}

.product-item {
  display: flex;
  justify-content: center; /* Centra gli elementi nel carosello */
  align-items: center;
}

.product-button {
  width: 90%; /* I pulsanti occupano il 90% della larghezza */
  padding: 15px; /* Aggiungi padding per i pulsanti */
  background-color: #890d0d; /* Colore di sfondo del pulsante */
  color: white; /* Colore del testo */
  border: none; /* Rimuove il bordo del pulsante */
  border-radius: 5px; /* Aggiungi angoli arrotondati */
  font-size: 18px; /* Dimensione del font */
  cursor: pointer; /* Cambia il cursore quando si passa sopra */
  transition: background-color 0.3s; /* Effetto di transizione per il colore di sfondo */
}

.product-button:hover {
  background-color: #791010; /* Colore del pulsante al passaggio del mouse */
}

/* --- Media Queries per Ottimizzazione Mobile --- */
@media (max-width: 768px) {
  .product-button {
    font-size: 16px; /* Riduci la dimensione del font sui dispositivi mobili */
  }
}

.desktop-product-list {
  list-style: none; /* Rimuovi i punti dall'elenco */
  padding: 0; /* Rimuovi il padding */
  margin: 0; /* Rimuovi il margine */
  display: flex; /* Layout flessibile per l'elenco */
  flex-wrap: wrap; /* Permetti che gli elementi si avvolgano */
  justify-content: space-around; /* Spaziatura uniforme tra gli elementi */
  flex-direction: column;
}

.desktop-product-list li {
  margin: 10px; /* Margine tra gli elementi dell'elenco */
  max-width: 65%;
}
