.product-page {
    display: flex;
    flex-wrap: nowrap; /* Mantiene gli elementi sulla stessa riga */
    justify-content: space-between; /* Spaziatura tra gli elementi */
    margin-top: 60px;
    padding-bottom: 5%;
}

/* Stile per la lista dei prodotti */
.product-list {
    flex: 1; /* Occupa spazio flessibile */
    padding: 10px;
}

/* Stile per il dettaglio del prodotto */
.product-detail {
    flex: 3; /* Occupa più spazio rispetto alla lista */
    padding: 10px;
    margin-right: 20px;
}

/* Stile per l'immagine dell'intestazione */
.headerViniImg {
    width: 100%;
    max-height: 500px;
    margin-top: -120px;
}

/* Stili per il carosello mobile */
@media (max-width: 768px) {
    .product-page {
        flex-direction: column; /* Cambia la direzione in colonna per mobile */
        margin-top: 0px;
    }
    .product-list, .product-detail {
        width: 90%; /* Ogni parte occupa l'intera larghezza */
        margin-left: 9px;
        margin-top: 20px;
    }
    .headerViniImg {
        width: 100%;
        max-height: 500px;
        margin-top: -90px;
    }
}
