body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.slick-slide img {
  display: inline !important;
  /* Sovrascrivi il display block */
}
/* Puoi personalizzare questi stili a tuo piacimento */
.slick-prev:before,
.slick-next:before {
  color: black;
  font-family: 'slick';
}

.slick-prev:before {
  content: '←'; /* Icona freccia sinistra */
}

.slick-next:before {
  content: '→'; /* Icona freccia destra */
}

/* Modifica il colore dei dots (punti) */
.slick-dots li button:before {
  color: #ff5733!important; /* Sostituisci con il colore desiderato */
}

/* Modifica lo stile dei dots (punti) attivi */
.slick-dots li.slick-active button:before {
  color: #ff5733!important; /* Sostituisci con il colore desiderato */
}


/* src/styles/NetflixStyleCarousel.css */

/* src/styles/NetflixStyleCarousel.css */

.netflix-carousel-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 3%;
}

.netflix-carousel-item {
  text-align: center;
  margin-top: 5px;
  width: 90% !important;
  display: inline-block;
  transition: transform 0.3s;
  /* Aggiungi una transizione per un effetto più fluido */
}

.netflix-carousel-item:hover {
  transform: scale(1.05);
  /* Effetto di zoom quando il mouse è sopra */
}

.netflix-carousel-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.netflix-carousel-title {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
